@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {

    background: #FFEEEE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 6rem;
    padding: 3rem 0;
    margin: 0;
    color:black;
    text-align: center;
}

h2{
    text-align: center;
    color: cadetblue;
    margin-top: 20px;
    font-size: 50px;
}

h3{
    color: black;
    font-weight: 700;
    text-align: center;
}

h6{
    color: black;
    font-size: small;
    text-align: center;
    margin-top: 1rem;
}

.contenedor {
    background-color: whitesmoke;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}

img{
    border-radius: 10px;
    margin-top: 4rem;
}
img:hover{
    transform: scale(1.2)
}

form {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem;
    background: white;
    margin-bottom: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


#app p{
    text-align: left!important;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
#resultado p {
    margin: 0;
    padding: 2rem;
    border-bottom: 1px solid #e1e1e1;
}
#resultado p span {
    font-weight: bold;
}
#resultado p:last-of-type{
    border: none;
}
.alerta {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}
.error {
    background-color:rgb(255, 127, 127);
}

.enviado{
    background-color: green;
}

.label{
    font-size: medium;
    font-weight: 800;
}

#boton{
    margin: 1rem;

}

/* Estilos para el modo oscuro*/

.switch{
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 83rem;
    margin-bottom: 2rem;
}

.switch::after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch.active{
    background: orange;
    color: #000;
}

.switch.active::after{
    right: 0;
    left: unset;
}

.switch span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: none;
    color:#fff;
}
body.dark{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.dark h1{
    color: white;
}

.dark h3{
    color:white;
}

.dark .container #buscador{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}

.dark p{
    color:white;
}

#sociales{
    margin: 0 auto;
}

.icon{
    margin-right: 5px;
    margin-left: 170px;
    margin-bottom: 2rem;
}


.infolink{
    color: cadetblue;
    font-size: larger;
    text-decoration: none;
    margin-top: 2rem;
}

.resultado_info{
    display: none;
    font-size:xx-large;
    color:coral;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Efecto escritura */

#mensaje{
    display:block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 26ch;
    animation: typing 3s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: 0 auto;
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}

#ip{
    text-align: center;
    /* margin-left: 10rem; */
    margin-top: 3rem;
    font-size:medium;
}

/* formulario */

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
    font-size: 20px;

}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 20px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
    font-size: 30px;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
    font-size: 30px;
}

.form-control small {
    color:#203A43;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
    font-weight: 800;
    font-size: 15px;
    
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #2a505f;
	border: 2px solid #2a505f;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}