html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {

    background: #FFEEEE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 6rem;
    padding: 3rem 0;
    margin: 0;
    color:black;
    text-align: center;
}

h2{
    text-align: center;
    text-transform: uppercase;
    color: cadetblue;
    margin-top: 20px;
    font-size: 50px;
}

h3{
    color: black;
    font-weight: 700;
    text-align: center;
}

h6{
    color: black;
    font-size: small;
    text-align: center;
    margin-top: 1rem;
}

.contenedor {
    background-color: whitesmoke;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}

img{
    border-radius: 10px;
}

form {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem;
    background: white;
    margin-bottom: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}


#app p{
    text-align: left!important;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
#resultado p {
    margin: 0;
    padding: 2rem;
    border-bottom: 1px solid #e1e1e1;
}
#resultado p span {
    font-weight: bold;
}
#resultado p:last-of-type{
    border: none;
}
.alerta {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}
.error {
    background-color:rgb(255, 127, 127);
}

.label{
    font-size: medium;
    font-weight: 800;
}

#boton{
    margin: 1rem;

}

/* Estilos para el modo oscuro*/

.switch{
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin: 0 auto;
    margin-top: 2rem;
}

.switch::after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch.active{
    background: orange;
    color: #000;
}

.switch.active::after{
    right: 0;
    left: unset;
}

.switch span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: none;
    color:#fff;
}
body.dark{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.dark h1{
    color: white;
}

.dark h3{
    color:white;
}

.dark .container #buscador{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}

.dark p{
    color:white;
}

